@font-face {
    font-family: 'SinaNova';
    src: url('fonts/SinaNovaReg-webfont.eot');
    src: url('fonts/SinaNovaReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinaNovaReg-webfont.woff') format('woff'),
         url('fonts/SinaNovaReg-webfont.ttf') format('truetype'),
         url('fonts/SinaNovaReg-webfont.svg#SinaNova-RegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bullpen';
    src: url('fonts/bullpen_hv-webfont.eot');
    src: url('fonts/bullpen_hv-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bullpen_hv-webfont.woff') format('woff'),
         url('fonts/bullpen_hv-webfont.ttf') format('truetype'),
         url('fonts/bullpen_hv-webfont.svg#bullpen_hvregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
	margin:0;
	padding:0;
}

body{
	margin:0;
	padding:0;
	position:relative;
	background-image:url('../images/slatebg.jpg');
	background-attachment:fixed;
}

header,footer{
	padding:0;
	width:1000px;
	margin:0px auto;
	height:100px;
	position:relative;
}

h1,h2{
	font-family:'SinaNova';
	/*color:#3065b2;*/
	color:black;
	
	margin:0;
	padding:10px 15px 0;
}

a{
	color:#3065B2;
}

.header-logo{
	position:absolute;
	z-index:10;
	top:45px;
	left:75px;
	box-shadow: 0 0 5px rgba(79, 48, 22, 0.85);
	width:150px;
}

.header-shadow{
	position:absolute;
	z-index:1;
}

.header-front-rafter{
	position:absolute;
	z-index:3;
	top:80px;
	left:-20px;
}

.header-back-rafter{
	position:absolute;
	z-index:1;
	top:100px;
	left:-50px;
	box-shadow:0 2px 6px rgba(0,0,0,0.75);
}
.nav-primary{
	padding:0;
	list-style-type:none;
	position:absolute;
	top:65px;
	right:70px;
	z-index:10;
}

.nav-primary li{
	display:inline-block;
}

.nav-primary li a{
	padding:17px 7px 15px;
	display:block;
	text-align:center;
	font-size:28px;
	font-family:'bullpen';
	color:rgba(79,48,22,0.85);
	text-decoration:none;
	transition:color 0.15s;
	-moz-transition:color 0.15s;
	-o-transition:color 0.15s;
	-webkit-transition:color 0.15s;
}

.nav-primary li a:hover{
	color:rgba(63,37,16,0.85);
}

#wrapper{
	background-image:url('../images/blueprint.jpg');
	width:980px;
	margin:-10px auto -10px;
	padding:105px 20px 20px;
	display:block;
	position:relative;
	z-index:2;
	box-shadow:0px 4px 40px rgba(0,0,0,0.75);
}

.flexslider{
	border:none;
	background:none;
	box-shadow:none;
}

#content{
	width:820px;
	margin:10px auto;
	background-color:#f0efe1;
	box-shadow:0px 4px 30px rgba(0,0,0,0.85);
}

#content p{
	font-family:'SinaNova';
	padding:5px 15px;
	font-size:18px;
}

#content p:last-child{
	padding-bottom:25px;
}

.indent{
	text-indent: 2em;
}

.footer-front-rafter{
	position:absolute;
	z-index:3;
	top:0;
	left:-20px;
}

.footer-back-rafter{
	position:absolute;
	z-index:1;
	top:20px;
	left:-50px;
}

.nav-footer{
	padding:0;
	list-style-type:none;
	position:absolute;
	top:0;
	z-index:10;
	margin:0px 70px;
}

.nav-footer li{
	float:left;
	display:inline;
}

.nav-footer li a{
	padding:17px 17px 15px;
	display:block;
	text-align:center;
	font-size:32px;
	font-family:'bullpen';
	color:rgba(79,48,22,0.85);
	text-decoration:none;
	transition:color 0.15s;
	-moz-transition:color 0.15s;
	-o-transition:color 0.15s;
	-webkit-transition:color 0.15s;
}

.nav-footer li a:hover{
	color:rgba(63,37,16,0.85);
}

/********** gallery.php **********/

#bigPic img{
	width:760px;
	height:399px;
	background-color:red;
	display:block;
	margin:0 auto;
	overflow:hidden;
}

#carousel{
	box-shadow:none !important;
}

#carousel.gallery img{
	opacity: 0.5;
}

#carousel.gallery img:hover{
	opacity: 1;
}

#smallPics li{
	width:120px !important;
	height:66px !important;
	margin:0 2px;
	transition:box-shadow 0.15s;
	-moz-transition:box-shadow 0.15s;
	-o-transition:box-shadow 0.15s;
	-webkit-transition:box-shadow 0.15s;
}

#smallPics li:hover{
	box-shadow:0 0 4px rgba(0,0,0,0.55);
	cursor:pointer;
}

.cover-photo{
	margin-left:5px;
}

.cover-photo a{
	float:left;
	display:inline;
	width:266px;
	margin:0 2px;
}

.cover-photo img{
	display:block;
	width:266px;
}

.cover-photo-title{
	display:block;
	text-align:center;
	font-size:18px;
	padding:5px 0;
}
/*
.flexslider.gallery{
	margin:20px auto 0 !important;
}
*/
/********** testimonials.php **********/

blockquote{
	border-left:4px solid #AEAEAE;
	margin:10px auto;
	width:600px;
	overflow:inherit;
	position:relative;
}

blockquote p{
	font-size:22px !important;
	text-indent:0 !important;
}

.bqstart {
		font-family:serif;
     float: left;
     height: 45px;
     margin-top: -13px;
     padding-top: 0px;
     padding-bottom:45px;
     margin-bottom: -50px;
     font-size: 550%;
     color: #3065b2;
 }

 .bqend {
 	font-family:serif;
     float: right;
     height: 25px;
     margin-top: -20px;
     padding-top: 0px;
     padding-bottom:45px;
     font-size: 550%;
     color: #3065b2;
   }

/********** contact.php **********/

form{
	position:relative;
	margin:10px auto;
	width:491px;
	font-family:'SinaNova';
	padding:20px;
	border:1px solid rgba(0,0,0,0.25);
}

input{
	display:inline-block;
	padding:5px;
	width:220px;
	font-size:14px;
	margin:5px;
}

#nameField{
	
}

#phoneField{
	
}

#emailField{
	
}

#cityField{
	
}

#submitButton{
	display:block;
	margin:10px auto;	
	padding:1px;
	font-size:18px;
	width:auto;
}

#submitButton:hover{
	cursor:pointer;
}

/********** Misc **********/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
 
header{
	height:auto;
	width:768px;
	margin:15px auto 0;
}  

.header-logo{
	width:100px;
	top:10px;
	left:0;
}

.header-shadow,
.header-front-rafter,
.header-back-rafter{
	display:none;
}

.nav-primary{
	position:absolute;
	top:0;
	left:110px;
	display:inline;
}

.nav-primary li a{
	font-size:24px;
	color:#AEAEAE;
	padding:10px 7px 10px;
}

.nav-primary li a:hover{
	color:#494949;
}

#wrapper{
	width:768px;
	padding:70px 20px 20px;
}
/*
.flexslider{
	width:798px;
	margin:10px 0 60px -15px !important;
}

.flexslider.gallery{
	margin:20px 0 60px -25px !important;
}
*/
#content{
	width:728px;
	padding:20px;
	margin-top:10px;
}

.footer-front-rafter,
.footer-back-rafter{
	display:none;
}

.nav-footer{
	width:700px;
	display:block;
	margin:0 auto;
	position:relative;
}

.nav-footer li a{
	color:#CACACA;
	font-size:18px;
}

}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
    	header,footer{
					height:auto;
					width:320px;
					margin:15px auto 0;
				}
				   
				h1,h2{
					text-align:center;
				}
				        
				.header-shadow,
				.header-front-rafter,
				.header-back-rafter{
					display:none;
				}
				
				.header-logo{
					width:70px;
					top:10px;
					left:-20px;
				}
				
				.nav-primary{
					position:absolute;
					top:0;
					left:55px;
					width:320px;
				}
				
				.nav-primary li a{
					padding:5px;
					font-size:18px;
					color:#AEAEAE;
				}
				
				.nav-primary li a:hover{
					color:#494949;
				}
				
				#wrapper{
					width:320px;
					padding-top:70px;
				}
				/*
				.flexslider{
					width:340px;
					margin:20px 0 60px -10px !important;
				}
				
				.flexslider.gallery{
					margin:20px 0 60px -30px !important;
				}
				*/
				#content{
					width:280px;
					padding:20px;
				}
				
				.footer-front-rafter,
				.footer-back-rafter{
					display:none;
				}
				
				.nav-footer{
					display:inline;
					margin:10px auto 20px;
					text-align:center;
				}
				
				.nav-footer li a{
					padding:5px;
					font-size:14px;
					color:#AEAEAE;
				}
				
				blockquote{
					width:280px;
				}
				
				form{
					width:270px;
					padding:15px 7px;
				}
				
				input{
					display:block;
					margin:5px auto;
				}
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
				header,footer{
					height:auto;
					width:480px;
					margin:15px auto;
				}
				        
				.header-shadow,
				.header-front-rafter,
				.header-back-rafter{
					display:none;
				}
				
				.nav-primary{
					position:absolute;
					top:20px;
					display:inline;
					width:480px;
					margin:0 auto;
				}
				
				.nav-primary li a{
					font-size:18px;
					color:#AEAEAE;
				}
				
				.nav-primary li a:hover{
					color:#494949;
				}
				
				#wrapper{
					width:480px;
					padding:60px 20px 20px;
				}
				/*
				.flexslider{
					width:500px;
				}
				
				.flexslider.gallery{
					margin:10px 0 60px -30px !important;
				}
				*/
				#content{
					margin-top:8px;
					width:440px;
					padding:20px;
				}
				
				.footer-front-rafter,
				.footer-back-rafter{
					display:none;
				}
				
				.nav-footer{
					display:block;
					margin:20px auto;
					position:relative;
					text-align:center;
				}
				
				.nav-footer li a{
					color:#CACACA;
					font-size:14px;
				}
				
				blockquote{
					width:400px;
				}
				
				form{
					width:400px;
					padding:15px 7px;
				}
				
				input{
					width:200px;
					display:block;
					margin:5px auto;
				}
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }